body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'mono-black';
  src: local('MonoBlack'), url(./fonts/mono-black.otf) format('opentype');
}

@font-face {
  font-family: 'mono-regular';
  src: local('MonoRegular'), url(./fonts/mono-regular.otf) format('opentype');
}

@font-face {
  font-family: 'sans-black';
  src: local('SansBlack'), url(./fonts/sans-black.otf) format('opentype');
}